<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>338054528316-se9cchgemtkqushkbq1t13rf2b80j0p4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.338054528316-se9cchgemtkqushkbq1t13rf2b80j0p4</string>
	<key>API_KEY</key>
	<string>AIzaSyD2uwyy228b_ZheuZeMs-sE8bKESMX87_A</string>
	<key>GCM_SENDER_ID</key>
	<string>338054528316</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.bepid.challenge</string>
	<key>PROJECT_ID</key>
	<string>challenge-efdc5</string>
	<key>STORAGE_BUCKET</key>
	<string>challenge-efdc5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:338054528316:ios:51fae1ce4498a1b9</string>
	<key>DATABASE_URL</key>
	<string>https://challenge-efdc5.firebaseio.com</string>
</dict>
</plist>